@charset "utf-8";

html {
  font-size: 100%;
}
body {
  font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  font-size: 0.9rem;
  line-height: 1.7;
  
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
.time_table {
  background-color: #fff;
  border-radius: 15px;
  padding: 40px 20px;

}
table {
  border-collapse: collapse;
   
  th,td {
    padding: 5px 16px;
    text-align: center;
  }
  td {
    border-top: 1px #808080 solid;
  }
}


/* ---------------------
header
--------------------- */
.header {
  z-index: 1000;
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
}
.header_wrapper {
  margin: 0 80px;
}
.header_inner {
  text-align: center;
  justify-content: space-between;
  display: flex;
  z-index: 3;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  height: 70px;
  padding: 0 20px 0 25px;
  border-radius: 10px;
  background-color: #fff;
  opacity: 0.8;
  box-shadow: 0 2px 4px 2px rgba(51,51,51,.05);
}
h1 {
  display: inline-block;
}
nav {
  display: inline-block;
}
.header_nav {
  display: flex;
}
.nav_item {
  padding: 0 18px;
}
.header_tel {
  display: inline-block;
}
/* ---------------------
main-top
--------------------- */
.top_section {
  background-image: url(img/top_img.jpg);
  background-size: cover;
  border-radius: 40px;
  margin: 60px;
  height: 80vh;
  
  .time_table {
    z-index: 10;
    position: absolute;
    right: 6%;
    bottom: 30%;
    margin-right: 20px;
    background-color: #fff;
    border-radius: 15px;
  }
  .time {
    width: 160px;
    text-align: left;
    line-height: 1.5;
  }
}

/* ---------------------
main--news
--------------------- */
.news {
  margin: 0 10%;
  padding: 60px 0;
}
.news_inner {
  display: flex;
  /* width: 100%; */
}
.news_title {
  margin-right: 20px;

  .ja {
    font-size: 32px;
    color: #0e73bd;
    margin-top: 30px;
    padding-bottom: 10px;
  }
  .en {
    font-size: 16px;
    margin-bottom: 120px;
  }
}
.news_btn {
  display: inline-block;
  padding: 12px 20px;
  min-width: 180px;
  border-radius: 100vh;
  box-shadow: 4px 4px 10px rgba(133,152,160,.24),-1px -2px 8px rgba(231,245,251,.3),inset 10px 10px 30px transparent,inset -10px -10px 30px transparent;
  text-align: center;
}
.news-section {
  width: 100%;
  padding: 20px;
}

.news-article {
  /* flex-wrap: wrap; */
  /* width: 100%;
  height: 100%; */
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.news-article a {
  display: block;
  width: 100%;
  height: 100%;
}

.news-article p {
  margin-bottom: 10px;
}
/* ---------------------
message--top
--------------------- */
.message {
  position: relative;
  background-color: #def1ff;

  .message_inner {
      margin: 0 10%;
      padding: 60px 0;

  }
  .message_title {
    margin-bottom: 10px;
  }
  .message_txt {
    width: 50%;
    line-height: 2;
    font-size: 16px;
  }
  ._t {
    z-index: 100;
    position: absolute;
    top: 20px;
    right: 5%;
    color: #56c3e7;
    background-color: #fff;
    border:solid 1px #56c3e7;
    font-size: 20px;
    writing-mode: vertical-rl;
    /* display: inline-block; */
  }
  ._img {
    position: absolute;
    top: 0;
    right: 5%;
    width: 400px;
    margin: 60px;
    object-fit: cover;
    border-radius: 15px;    
  }
}
.message_more {
  display: flex;
  vertical-align: middle;
  margin-left: 10px;
  ._a {
    color: #1ba1e6;
    font-weight: 600;
    border-bottom: 2px dashed;
    padding: 0 5px;
    margin: 0 5px;
  }
}
/* ---------------------
main--info
--------------------- */
.info {
  background-color: #0e73bd;
  padding: 100px 20px;
}
.info_inner {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  max-width: 1140px;
}
.title_ja {
  font-size: 32px;
  color: #fff;
  font-weight: 200;
}
.title_en {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
}
.info_time_table {
  display: inline-block;
  background-color: #fff;
  border-radius: 15px;
  padding: 40px 20px;
  margin: 40px auto;
  justify-content: center;
}
.info_bottom {
  display: block;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  display: flex;
}
.map {
  border-radius: 10px;
}
/* ---------------------
footer
--------------------- */
.footer {
  margin: 0 10%;
  padding: 60px 60px 80px;
  
  
}
.footer_nav {
  display: flex;
  justify-content: space-between;

}


.row {
  display: flex;
  flex-wrap: wrap;
  li {
    padding: 0 20px 16px 10px;
    position: relative;
  }
  li:before {
    content: "";
    position: absolute;
    top: .35em;
    left: 0;
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #8b6b4e;    
  }
}

.l-footer__nav--item {
  padding-bottom: 10px;

}


.footer_bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
